.heading {
  font-family: Domine, sans-serif;
}

body {
  font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

.navbar-color {
  background-color: rgb(33, 104, 105);
}

.button {
  background-color: rgb(33, 104, 105);
  color: white;
  width: 100px;
}

.anchor-styling {
  text-decoration: none;
}

.edit-icon {
  font-size: 1.2rem;
}
