.heading {
  font-family: Domine, sans-serif;
}

body {
  font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

.navbar-color {
  background-color: rgb(33, 104, 105);
}

.button {
  background-color: rgb(33, 104, 105);
  color: white;
  width: 100px;
}

.post-container {
  max-width: 700px;
}

.sign-up-container {
  max-width: 600px;
}

.post-container-height {
  max-height: 300px;
}
